
<%= form_for([@topic, @article]) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :rows => 10, style: 'width:100%;'%>
  </p>

  <p>
    <%= f.label :thumbnail %>
    <%= f.text_field :thumbnail %>
  </p>

  <p>
    <%= f.submit 'Submit', :class => 'btn btn-success'%>
  </p>

<% end %>
