<div class="row">
  <div class="card-deck">
    <% @articles.each do |article| %>
      <%= link_to topic_article_path(article.topic, article) do %>
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%= article.thumbnail %>" height="90" alt="<%= article.title %>">
          <div class="card-block">
            <h4 class="card-title"><%= article.title %></h4>
            <p class="card-text">By <%= article.author %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= article.created_at %></small>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
