<!DOCTYPE html>
<html>
  <head>
    <title>PianoTestSite</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      // Adblock Functionality (should come before any other Piano Javascript)

      document.cookie = "__adblocker=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
      var setNptTechAdblockerCookie = function(adblocker) {
          var d = new Date();
          d.setTime(d.getTime() + 60 * 60 * 24 * 2 * 1000);
          document.cookie = "__adblocker=" + (adblocker ? "true" : "false") + "; expires=" + d.toUTCString() + "; path=/";
      }
      var script = document.createElement("script");
      script.setAttribute("async", true);
      script.setAttribute("src", "//www.npttech.com/advertising.js");
      script.setAttribute("onerror", "setNptTechAdblockerCookie(true);");
      document.getElementsByTagName("head")[0].appendChild(script);
    </script>

    <script>
      // Basic Composer Functionality

      tp = window.tp || [];
        (function(src) {
              var a = document.createElement("script");
              a.type = "text/javascript";
              a.async = true;
              a.src = src;
              var b = document.getElementsByTagName("script")[0];
              b.parentNode.insertBefore(a, b)
          })("//sandbox.tinypass.com/xbuilder/experience/load?aid=oiGmjC8JwK"); // AID Added Here

      // Pushing Information to Piano

      // The content ID from your CMS
      tp.push(["setContentId", "1234"]);
      // The date content is published
      tp.push(["setContentCreated", "<Date Created>"]);
      // The content author
      tp.push(["setContentAuthor", "<Author Name>"]);
      // The content section (sports, lifestyle, opinion)
      tp.push(["setContentSection", "<Content Section>"]);
      // The content tags from CMS (premium, breaking news, paid)
      tp.push(["setTags", ["<First Tag>", "<Second tag>", "<Third tag>"]]);
      // If the content is native advertising (true or false)
      tp.push(["setContentIsNative", false]);
      // The AAM Zone
      tp.push(["setZone", "<Zone>"]);
    </script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">World News</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/topics/News">News</a></li>
            <li><a href="/topics/Lifestyle">Lifestyle</a></li>
            <li><a href="/topics/Sports">Sports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><a href="#" id="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#" id="myaccount"><span class="glyphicon glyphicon-user"></span> My Account</a></li>

          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
    <div id="account-info">
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>

  </body>
</html>
