<!DOCTYPE html>
<html>
  <head>
    <title>PianoTestSite</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>tp = window.tp || [];
      (function(src) {
            var a = document.createElement("script");
            a.type = "text/javascript";
            a.async = true;
            a.src = src;
            var b = document.getElementsByTagName("script")[0];
            b.parentNode.insertBefore(a, b)
        })("//sandbox.tinypass.com/xbuilder/experience/load?aid=oiGmjC8JwK");
    </script>
    <script type="text/javascript">
    tp.push(["init", function(){
      if (tp.pianoId.isUserValid()) {
        $("#login").hide()
        $("#signup").hide()
      } else {
        $("#logout").hide()
      }
    }])


      tp.push(["init", function(){
        document.getElementById('login').onclick = function() {
          tp.pianoId.show({
            screen: 'login',
            displayMode: 'modal',
            loggedIn: function(){
                  location.reload();
              }
            })
          }
        }])

        tp.push( ["init", function() {
          document.getElementById('logout').onclick = function(){
            tp.pianoId.logout();
              location.reload();
          }
        }])
    </script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">World News</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/topics/News">News</a></li>
            <li><a href="/topics/Lifestyle">Lifestyle</a></li>
            <li><a href="/topics/Sports">Sports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><a href="#" id="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>

  </body>
</html>
