<!DOCTYPE html>
<html>
  <head>
    <title>PianoTestSite</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      document.cookie = "__adblocker=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
      var setNptTechAdblockerCookie = function(adblocker) {
          var d = new Date();
          d.setTime(d.getTime() + 60 * 60 * 24 * 2 * 1000);
          document.cookie = "__adblocker=" + (adblocker ? "true" : "false") + "; expires=" + d.toUTCString() + "; path=/";
      }
      var script = document.createElement("script");
      script.setAttribute("async", true);
      script.setAttribute("src", "//www.npttech.com/advertising.js");
      script.setAttribute("onerror", "setNptTechAdblockerCookie(true);");
      document.getElementsByTagName("head")[0].appendChild(script);
  </script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/topics">World News</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/topics/News">News</a></li>
            <li><a href="/topics/Lifestyle">Lifestyle</a></li>
            <li><a href="/topics/Sports">Sports</a></li>
            <li><a id="test-button" href="#">Button</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><a href="#" id="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#" id="myaccount"><span class="glyphicon glyphicon-user"></span> My Account</a></li>

          </ul>
        </div>
      </nav>
      <script>
      tp = window.tp || [];
        (function(src) {
              var a = document.createElement("script");
              a.type = "text/javascript";
              a.async = true;
              a.src = src;
              var b = document.getElementsByTagName("script")[0];
              b.parentNode.insertBefore(a, b)
          })("//sandbox.tinypass.com/xbuilder/experience/load?aid=oiGmjC8JwK");

          if (tp.pianoId.isUserValid()) {
            $("#login").hide()
            $("#signup").hide()
          } else {
            $('#myaccount').hide()
            $("#logout").hide()
          

        document.getElementById('login').onclick = function() {
          tp.pianoId.show({
            screen: 'login',
            displayMode: 'modal',
            loggedIn: function(){
                  location.reload();
              }
            })
          }

          document.getElementById('signup').onclick = function() {
            tp.pianoId.show({
              screen: 'register',
              displayMode: 'modal',
              loggedIn: function(){
                    location.reload();
                }
              })
            }

          document.getElementById('logout').onclick = function(){
            tp.pianoId.logout();
              location.reload();
            }

          document.getElementById('myaccount').onclick = function() {
            tp.myaccount.show({
                displayMode: "inline",
                containerSelector: "#account-info"
              })
            }
        }])


      </script>
      <%= yield %>
    </div>
    <div id="account-info">
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>

  </body>
</html>
